@model IEnumerable<Eagle.Services.Dtos.Contents.Banners.BannerInfoDetail>
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                       <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
                        <!-- MAIN IMAGE -->
                        <img src="@item.FileUrl" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                     
                        @*<div class="tp-caption revolution-ch1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="100"
                             data-speed="1500"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endeasing="Power1.easeIn"
                             data-endspeed="300">
                           @item.BannerTitle
                        </div>*@

                        <!-- LAYER -->
                        <div class="tp-caption sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="380"
                             data-speed="1600"
                             data-start="1800"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            @item.BannerContent
                        </div>
                    </li>
            <!-- END SLIDE -->
                }
            }
         </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>