<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-aqua">
            <div class="row">
                <div class="col-md-5 no-padding">
                    <div class="shortcut-container">
                        <div class="icon"><span class="glyphicon glyphicon-envelope"></span></div>
                    </div>
                </div>
                <div class="col-md-7 no-padding">
                    <div class="contents">
                        <div class="inner-contents">
                            <div class="content-title">CPU Traffic</div>
                            <div class="content-body">90<small>%</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-green">
            <div class="row">
                <div class="col-md-5 no-padding">
                    <div class="shortcut-container">
                        <div class="icon"><span class="glyphicon glyphicon-cog"></span></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="contents">
                        <div class="inner-contents">
                            <div class="content-title">CPU Traffic</div>
                            <div class="content-body">90<small>%</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-blue">
            <div class="row">
                <div class="col-md-5 no-padding">
                    <div class="shortcut-container">
                        <div class="icon"><span class="glyphicon glyphicon-calendar"></span></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="contents">
                        <div class="inner-contents">
                            <div class="content-title">CPU Traffic</div>
                            <div class="content-body">90<small>%</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-midnightblue">
            <div class="row">
                <div class="col-md-5 no-padding">
                    <div class="shortcut-container">
                        <div class="icon"><span class="glyphicon glyphicon-user"></span></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="contents">
                        <div class="inner-contents">
                            <div class="content-title">CPU Traffic</div>
                            <div class="content-body">90<small>%</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>