@*<div class="footer-page-container">
    <div class="container">
        <div class="row">
            5EAGLES
        </div>
    </div>
</div>*@
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Copyright by 5EAGLES Co.Ltd - 2011 © All Rights Reserved.
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </p>
            </div>
            <!-- Social Links -->
            <div class="col-md-6 no-padding-right">
                <ul class="footer-socials list-inline">
                    <li>
                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                            <i class="icon-facebook icon-sm icon-white"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                            <i class="icon-skype icon-sm icon-white"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                            <i class="icon-google-plus icon-sm icon-white"></i>
                        </a>
                    </li>
                    @*<li>
                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                            <i class="icon-linked-in icon-sm icon-white"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                            <i class="icon-pinterest icon-sm icon-white"></i>
                        </a>
                    </li>*@
                    <li>
                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                            <i class="icon-twitter icon-sm icon-white"></i>
                        </a>
                    </li>
                    @*<li>
                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                            <i class="icon-dribbble icon-sm icon-white"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="RSS">
                            <i class="icon-rss icon-sm icon-white"></i>
                        </a>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
</div>