<?xml version="1.0"?>
<appSettings>
  <clear />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="owin:AutomaticAppStartup" value="true"/>
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="WebUI" />
  <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
  <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
  <add key="image_types" value=".gif,.jpg,.jpeg,.bmp,.png,.tiff,.swf" />
  <add key="video_types" value=".flv,.mpg,.avi,.3gp,.mov,.mp4" />
 </appSettings>