<?xml version="1.0"?>
<connectionStrings>
  <clear/>
  <add name="LocalSqlServer" connectionString="Data Source=27.74.252.190;Initial Catalog=5eagles_Framework;Integrated Security=False;User ID=sieuthi360_vn_admindb;Password=eagleFrameWork@007;" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection" connectionString="Data Source=27.74.252.190;Initial Catalog=5eagles_Framework;Integrated Security=False;Persist Security Info=False;User ID=sieuthi360_vn_admindb;Password=eagleFrameWork@007;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
</connectionStrings>