<div id="settings">
    <h2 class="heading-md">@LanguageResource.NotificationSettings</h2>
    <p>Below are the notifications you may manage.</p>
    <br>
    <form class="sky-form" id="sky-form3" action="#">
        <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Email notification</label>
        <hr>
        <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Send me email notification when a user comments on my blog</label>
        <hr>
        <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Send me email notification for the latest update</label>
        <hr>
        <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Send me email notification when a user sends me message</label>
        <hr>
        <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Receive our monthly newsletter</label>
        <hr>
        <button type="button" class="btn btn-u btn-u-default">Reset</button>
        <button class="btn btn-u" type="submit">Save Changes</button>
    </form>
</div>