<div class="social-link">
    <div id="fb-like" class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-send="true" data-show-faces="true" data-share="true"></div>
    <a href="https://twitter.com/share" target="_blank" rel="nofollow" class="seoquake-nofollow"><img src="/Themes/Booking/Content/img/icons/social/social-twitter.png" alt="twitter" class="social-img"></a>
    <a id="social_google_plus" href="javascript: void(0)" target="_blank" rel="nofollow" class="seoquake-nofollow"><img src="/Themes/Booking/Content/img/icons/social/social-google.png" alt="google plus" class="social-img"></a>
    <div class="share-pinterest">
        <a data-pin-do="buttonBookmark" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/"></a>
    </div>
</div>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>