@using Eagle.Services.Skins
@{
    ViewBag.Title = Html.Raw(LanguageResource.ShippingMethodManagement);
    Layout = ThemeViewEngine.AdminFullMainLayout;
}

<div id="MainContainer" class="box-container">
    <div class="body-container">
        <div id="bodyContent">
            <div id="MainBody" class="container-fluid">
                <div id="divEdit">
                    @Html.Action("Create", "ShippingMethod")
                </div>
                <div id="divList">
                    @Html.Action("LoadSearchForm", "ShippingMethod")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script Scope="text/javascript">
        window.ShippingMethodSearchUrl = '@Url.Action("Search", "ShippingMethod")';
    </script>
    <script type="text/javascript" src="~/Scripts/app/modules/shipping-method.js"></script>
}