@using System.Text
@model Eagle.Services.Dtos.Business.VendorInfoDetail

<div class="container">
    <section class="company">
        @if (Model != null)
        {
            <header>
                <h3 class="text-center">@Html.Raw(Model.CopyRight)</h3>
            </header>

            if (Model.Addresses != null && Model.Addresses.Any())
            {
                foreach (var item in Model.Addresses)
                {
                    <p>
                        <span class="label">
                            @string.Format("{0} {1} {2}", item.Address.Street, item.Address.Province.ProvinceName, item.Address.Region.RegionName)
                        </span>
                    </p>
                }
            }

            <p>
                <span class="label">
                    @{
                        StringBuilder sb = new StringBuilder();
                        if (!string.IsNullOrEmpty(Model.Telephone))
                        {
                            sb.AppendFormat("{0} : {1}", LanguageResource.Telephone, Model.Telephone);
                        }

                        if (!string.IsNullOrEmpty(Model.Hotline))
                        {
                            sb.AppendFormat("/ {0} : {1}", LanguageResource.Hotline, Model.Hotline);
                        }

                        if (!string.IsNullOrEmpty(Model.Email))
                        {
                            sb.AppendFormat("/ {0} : {1}", LanguageResource.Email, Model.Email);
                        }

                        var contactPhone = sb.ToString();
                    }

                    @contactPhone
                </span>
            </p>
            <p>
                <span class="label">@Model.SupportOnline</span>
            </p>
        }
        else
        {
            <p>
                <span class="label">@LanguageResource.NotFound</span>
            </p>
        }
    </section>
</div>