@model Eagle.Services.Dtos.SystemManagement.FileStorage.FileModel
<div id="divList">
    @Html.Action("PopulateDownloadFileList", "FileStorage", new { @ItemId = Model.ItemId, @ItemTag = Model.ItemTag })
</div>

