@using Eagle.Services.Skins
@{
    ViewBag.Title = LanguageResource.ServicePeriod;
    Layout = ThemeViewEngine.AdminFullMainLayout;
}
<div id="MainContainer" class="box-container">
    <div class="body-container">
        <div id="bodyContent">
            <div id="MainBody" class="container-fluid">
                <div id="divEdit">
                    @Html.Action("Create", "ServicePeriod")
                </div>
                <div id="divList">
                    @Html.Action("LoadSearchForm", "ServicePeriod")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        window.ServicePeriodSearchUrl = '@Url.Action("Search", "ServicePeriod")';
    </script>
    <script type="text/javascript" src="~/Scripts/app/modules/service-period.js"></script>
}

