@using Eagle.Services.Skins
@{
    ViewBag.Title = Html.Raw(LanguageResource.CustomerTypeManagement);
    Layout = ThemeViewEngine.AdminFullMainLayout;
}

<div id="MainContainer" class="box-container">
    <div class="body-container">
        <div id="bodyContent">
            <div id="MainBody" class="container-fluid">
                <div id="divEdit">
                    @Html.Partial("../Business/Ecommerce/CustomerType/_Create")
                </div>
                <div id="divList">
                    @Html.Action("LoadSearchForm", "CustomerType")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        window.CustomerTypeSearchUrl = '@Url.Action("Search", "CustomerType")';
    </script>
    <script type="text/javascript" src="~/Scripts/app/modules/customer-type.js"></script>
}