@{
    ViewBag.Title = LanguageResource.Service;
    Layout = Eagle.Services.Skins.ThemeViewEngine.DesktopSubLayout;
}

<div class="panel-body">
    <div class="container-fluid">
        <ul id="tree"></ul>
        @Html.Hidden("SelectTree")
    </div>
</div>  