@using Eagle.Services.Skins
@{
    ViewBag.Title = Html.Raw(LanguageResource.Manufacturer);
    Layout = ThemeViewEngine.AdminFullMainLayout;
}

<div id="MainContainer" class="box-container">
    <div class="body-container">
        <div id="bodyContent">
            <div id="MainBody" class="container-fluid">
                <div id="divEdit">
                    @Html.Action("Create", "Manufacturer")
                </div>
                <div id="divList">
                    @Html.Action("List", "Manufacturer")
                </div>
            </div>
        </div>
    </div>
</div>

<div id="FooterContainer"><div class="bottom-toolbar"></div></div>

@section Scripts{
    <script Scope="text/javascript">
        window.ManufacturerListUrl = '@Url.Action("List", "Manufacturer")';
    </script>
    <script type="text/javascript" src="~/Scripts/app/modules/manufacturer.js"></script>
}