<div class="row">
   <div class="col-md-4">
       @Html.Action("LoadSearchForm", "Banner")
    </div>
    <div class="col-md-8">
        <div id="search-result">
            @Html.Action("Search", "Banner")
        </div>
    </div>
</div>