@using Eagle.Services.Skins
@{
    ViewBag.Title = Html.Raw(LanguageResource.LanguageManagement);
    Layout = ThemeViewEngine.AdminFullMainLayout;
}

<div id="MainContainer" class="box-container">
    <div class="body-container">
        <div id="bodyContent">
            <div id="MainBody" class="container-fluid">
                <div id="divEdit">
                   @Html.Action("Edit", "Language")
                </div>
                <div id="divList">
                    @Html.Action("LoadSearchForm", "Language")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        window.LanguageSearchUrl = '@Url.Action("Search", "Language")';
    </script>
    <script type="text/javascript" src="~/Scripts/app/modules/language.js"></script>
}