<div class="panel panel-default search-panel">
    <div class="panel-heading">
        <h4><span class="glyphicon glyphicon-star"></span> @LanguageResource.TreeList</h4>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <ul id="tree"></ul>
            @Html.Hidden("SelectTree")
        </div>
    </div>
    <div class="panel-footer"></div>
</div>