@model Eagle.Services.Dtos.Services.Booking.ServiceDiscountSearchEntry

<div class="panel panel-default search-panel">
    <div class="panel-heading">
        <h5>@Html.Raw(LanguageResource.Search)</h5>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "frmSearch", name = "frmSearch", @class = "form-horizontal" }))
        {
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 padding-left-right-5 padding-right-5">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-cog"></span> @LanguageResource.Search
                            </span>
                            <input type="text" name="DateRangePicker" id="DateRangePicker" data-datepicker="datepicker" class="small form-control" data-link-format="MM/YYYY"/>
                            <input type="hidden" id="FromDate" name="FromDate"/>
                            <input type="hidden" id="ToDate" name="ToDate" />
                        </div>
                    </div>
                    <div class="col-md-2 padding-left-5 padding-right-5">
                        @Html.EnumDropDownListFor(model => model.IsActive,  string.Format("--- {0} ---", LanguageResource.Select), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 padding-left-5 padding-right-5">
                        <div class="input-group">
                            <div class="input-group-button">
                                <button type="button" class="btn btn-primary search" data-form="frmSearch" data-mode="search">
                                    <span class="glyphicon glyphicon-search" role="button"></span> @LanguageResource.Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <div id="search-result" class="row">
            @{
                Html.RenderAction("Search", "ServiceDiscount");
            }
        </div>
    </div>
</div>