@using Eagle.Services.Skins
@{
    ViewBag.Title = Html.Raw(LanguageResource.BannerPosition);
    Layout = ThemeViewEngine.AdminFullMainLayout;
}

<div id="MainContainer" class="box-container">
    <div class="body-container">
        <div id="bodyContent">
            <div id="MainBody" class="container-fluid">
                <div id="divEdit">
                    @Html.Action("Create", "BannerPosition")
                </div>
                <div id="divList">
                    @Html.Action("List", "BannerPosition")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        window.BannerPositionListUrl = '@Url.Action("List", "BannerPosition")';
    </script>
    <script type="text/javascript" src="~/Scripts/app/modules/banner-position.js"></script>
}