@model Eagle.Services.Dtos.SystemManagement.Identity.ResetPassword

<html>
<head>
    <title>Shining Knights</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- include CSS start-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/allcss.css">
    <!-- include CSS end-->

</head>
<body class="bg_login">
    <div class="container-fluid">
        <div class="row login-form">
            <div class="col-xs-12  col-sm-12  col-md-12 text-center">
                @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, htmlAttributes: new { @id = "frmResetPassword" }))
                {
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="divLogin">
                        @if (TempData["ResetPasswordError"] != null)
                        {
                            <div class="row" id="divError">
                                <span>@TempData["ResetPasswordError"]</span>
                            </div>
                        }
                        @if (Model != null && Model.SendEmailSuccessed)
                        {
                            <div class="row" id="divMessage">
                                Send email successfully. You will be redirected to Login page after 5 sec.
                            </div>
                            <meta http-equiv="refresh" content="4; url=@Url.Action("Login","Account")">
                        }
                        <div class="row">
                            <div class="form-group label-static login_input_field">
                                <label for="i2" class="control-label text-label">USERNAME</label>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control text-box col-md-1 2", @maxlength = "100", @name = "UserName" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary login-button" id="btnLogin">RESET PASSWORD</button>
                        </div>
                    </div>
                }
            </div>
        </div>
       
    </div>
   
</body>
</html>
